@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }   
}

@keyframes fadeout {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }   
}

.header {
    position: absolute;
    font-family: 'Visuelt Pro';
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin:0;
    z-index: 1;
}

.header-logo {
    height: 24px;
    padding-left: 10vw;
}

.home-link{
    padding-top:15px;
}

.header-link-list {
    display: flex;
    list-style: none;
    width: 9%;
    padding-right: 10%;
    margin: 0;
    padding-top:11px;
}

.header-link-list-element {
    list-style: none;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-link {
    color: black;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width : 100%;
}

.header-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 2px solid rgb(52, 52, 52);
    height: 1px;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.5s;
}

.header-link:hover::after {
    opacity: 1;
    transform: translateY(2px);
}

.hamburger-button{
    display: none;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .header-logo{
        padding-top: 9px;
        padding-left: 0%;
    }
    .header-link-list{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0;
        transition: all ease-in-out 1s;
    }
    .header-link-list-on{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0;
        animation: fadein 1.5s; 
    }
    .header-link-list-off{
        display: none;
        animation: fadeout 1.5s;
    }
    .header-link-list-element{
        width: auto;
        padding-top : 10px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .header-link{
        display: inline;

    }
    .hamburger-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0px;
        background-color: transparent;
        display : inline;
        position : absolute;
        top : 20px;
        right : 30px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
    }
    .hamburger-button:hover{
        transform: scale(1.2, 1.2);
        transition: all ease-in-out 0.5s;
    }
    .hamburger-button-img{
        width: 24px;
        height: 24px;
    }
}

