.header {
    position: relative;
    font-family: 'Visuelt Pro';
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin:0;
    z-index: 1;
}

.header-logo {
    height: 2vh;
    padding-left: 10vw;
}

.header-link-list {
    display: flex;
    list-style: none;
    width: 9%;
    padding-right: 10%;
}

.header-link-list-element {
    list-style: none;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.header-link {
    color: black;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width : 100%;
}

.header-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 2px solid rgb(52, 52, 52);
    height: 1px;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.5s;
}

.header-link:hover::after {
    opacity: 1;
    transform: translateY(2px);
}

.hamburger-button{
    display: none;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .header-logo{
        padding-top: 30px;
        padding-left: 0%;
    }
    .header-link-list-on{
        margin: 0;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding:0;
        transition: all ease-in-out 1s;
    }
    .header-link-list-off{
        display: none;
    }
    .header-link-list-element{
        padding-top : 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .hamburger-button{
        display : inline;
        position : absolute;
        top : 15px;
        right : 30px;
    }
}