.banner{
    width: 100%;
    margin : 0;
    text-align: center;
}

.youtube-logo-img{
    height: 1em;
}

.hatch-circle-img{
    height: 100px;
}

.code-circle-img{
    z-index: 0;
    position: absolute;
    top : 20%;
    right : 40px;
    max-width: 528px;
    height: auto;
    transition: all 0.7s ease-out;
    
}
.code-circle-img:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.7s ease-out;
}


.scroll-down-img:hover{
    transform: translateY(70px); 
    transition: all 0.4s ease-in-out;
}

.scroll-down-img{

    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    .code-circle-img{
        display : none;
    }
}
